# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [167]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [186]:
school_data_complete.head

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [168]:
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [169]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [223]:
# Calculate the number of schools
school_count = len(school_data_complete["school_name"].unique())
# Calculate the number of students
student_count = (school_data_complete["Student ID"].nunique())
# Calculate the total Budget
budg_df = school_data_complete[["school_name","budget"]]
new_budg_df = budg_df.drop_duplicates()
total_budget = new_budg_df["budget"].sum()                     
# avg math score
avg_math =int(round(school_data_complete["math_score"].mean()))
# avg reading score
avg_read = int(round(school_data_complete["reading_score"].mean()))
# overall passing rate
overall_pass = int(round(avg_math + avg_read) / 2)
# percent math pass 
bins = [0, 69, 100]
group_names = ["fail", "pass"]
math_pass = pd.cut(school_data_complete["math_score"], bins, labels=group_names)
math_pass_perc = int(round(math_pass.value_counts()["pass"]/student_count*100))
# percent read pass
bins = [0, 69, 100]
group_names = ["fail", "pass"]
read_pass = pd.cut(school_data_complete["reading_score"], bins, labels=group_names)
read_pass_perc = int(round(read_pass.value_counts()["pass"]/student_count*100))

In [224]:
dist_summ_dic = ({"Total Schools": school_count, "Total Students": student_count,"Total Budget": total_budget, "Average Math Score":  avg_math, "Average Reading Score": avg_read, "Math Pass Rate": math_pass_perc, "Reading Pass Rate": read_pass_perc, "Passing Rate": overall_pass})
district_summary_df = pd.DataFrame([dist_summ_dic])
district_summary_df = district_summary_df [["Total Schools","Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "Math Pass Rate", "Reading Pass Rate", "Passing Rate"]]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Passing Rate
0,15,39170,24649428,79,82,75,86,80

In [185]:
school_df = school_data_complete[["school_name","type"]]
school_ddup_df = school_df.drop_duplicates()
school_ddup_df

                 school_name      type
0          Huang High School  District
2917    Figueroa High School  District
5866     Shelton High School   Charter
7627   Hernandez High School  District
12262    Griffin High School   Charter
13730     Wilson High School   Charter
16013    Cabrera High School   Charter
17871     Bailey High School  District
22847     Holden High School   Charter
23274       Pena High School   Charter
24236     Wright High School   Charter
26036  Rodriguez High School  District
30035    Johnson High School  District
34796       Ford High School  District
37535     Thomas High School   Charter

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [238]:
school_data_group = school_data.groupby(["school_name"])
school_data_group.head()
student_data_group = student_data.groupby(["school_name"])
total_students_group = student_data_group["student_name"].count()
avg_math_group = student_data_group["math_score"].mean()
avg_reading_group = student_data_group["reading_score"].mean()
overall_pass = student_data_group[pd.to_numeric(round((avg_math_group + avg_reading_group) / 2), errors='coerce', downcast='integer')]

pd.to_numeric(round((avg_math_group + avg_reading_group) / 2), errors='coerce', downcast='integer')
# bins = [0, 69, 100]
# group_names = ["fail", "pass"]
# math_pass = pd.cut(student_data_group["math_score"], bins, labels=group_names)
# math_pass_perc = int(round(math_pass.value_counts()["pass"]/total_students*100))

# schools_df = pd.DataFrame({"Total Students": total_students,
#                           "Average Math Score": avg_math,
#                           "Average Reading Score": avg_reading,
#                           "%Passing Math": math_pass_perc})
schools_df

KeyError: 'Columns not found: 84, 79'

In [81]:
per_stu_budget = schools_budget/total_stu
per_stu_budget.head(15)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
.max

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
.min

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.