# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [18]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [19]:
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [20]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [21]:
# Calculate the number of schools
school_count = len(school_data_complete["school_name"].unique())
# Calculate the number of students
student_count = (school_data_complete["Student ID"].nunique())
# Calculate the total Budget
budg_df = school_data_complete[["school_name","budget"]]
new_budg_df = budg_df.drop_duplicates()
total_budget = new_budg_df["budget"].sum()                     
# avg math score
avg_math =int(round(school_data_complete["math_score"].mean()))
# avg reading score
avg_read = int(round(school_data_complete["reading_score"].mean()))

# percent math pass 
bins = [0, 69, 100]
group_names = ["fail", "pass"]
math_pass = pd.cut(school_data_complete["math_score"], bins, labels=group_names)
math_pass_perc = int(round(math_pass.value_counts()["pass"]/student_count*100))

# percent read pass
bins = [0, 69, 100]
group_names = ["fail", "pass"]
read_pass = pd.cut(school_data_complete["reading_score"], bins, labels=group_names)
read_pass_perc = int(round(read_pass.value_counts()["pass"]/student_count*100))

# overall passing rate
overall_pass = int(round(math_pass_perc + read_pass_perc) / 2)
read_pass_perc

86

In [22]:
dist_summ_dic = ({"Total Schools": school_count, "Total Students": student_count,
                  "Total Budget": total_budget, "Average Math Score":  avg_math, 
                  "Average Reading Score": avg_read, "Math Pass Rate": math_pass_perc, 
                  "Reading Pass Rate": read_pass_perc, "Passing Rate": overall_pass})
district_summary_df = pd.DataFrame([dist_summ_dic])
district_summary_df = district_summary_df [["Total Schools","Total Students", "Total Budget", "Average Math Score", 
                                            "Average Reading Score", "Math Pass Rate", "Reading Pass Rate", 
                                            "Passing Rate"]]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Passing Rate
0,15,39170,24649428,79,82,75,86,80

In [23]:
school_df = school_data_complete[["school_name","type"]]
school_ddup_df = school_df.drop_duplicates()
school_ddup_df

                 school_name      type
0          Huang High School  District
2917    Figueroa High School  District
5866     Shelton High School   Charter
7627   Hernandez High School  District
12262    Griffin High School   Charter
13730     Wilson High School   Charter
16013    Cabrera High School   Charter
17871     Bailey High School  District
22847     Holden High School   Charter
23274       Pena High School   Charter
24236     Wright High School   Charter
26036  Rodriguez High School  District
30035    Johnson High School  District
34796       Ford High School  District
37535     Thomas High School   Charter

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name ok
  * School Type ok
  * Total Students ok
  * Total School Budget ok
  * Per Student Budget ok
  * Average Math Score ok
  * Average Reading Score ok
  * % Passing Math ok
  * % Passing Reading ok
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [24]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [25]:
school_data_complete.head()

school_df = school_data.set_index('school_name')

df_district = school_df['type']
df_district


total_students = school_data_complete.groupby('school_name').count()
total_students = total_students['student_name']
total_students


total_school_budget = school_data_complete.groupby('school_name').mean()['budget']
total_school_budget



per_student_budget = total_school_budget / total_students
per_student_budget

stu_avg_math = school_data_complete.groupby('school_name').mean()['math_score']
stu_avg_math  

stu_avg_read = school_data_complete.groupby('school_name').mean()['reading_score']
stu_avg_read

stu_pass_math = school_data_complete[ school_data_complete['math_score'] >= 70]

percent_pass_math = (stu_pass_math.groupby('school_name').count()['math_score'] / school_data_complete.groupby('school_name').count()['math_score']) * 100 

stu_pass_read = school_data_complete[ school_data_complete['reading_score'] >= 70]
percent_pass_read = (stu_pass_read.groupby('school_name').count()['reading_score'] / school_data_complete.groupby('school_name').count()['reading_score']) * 100 



overall_pass = (percent_pass_math + percent_pass_read) / 2

school_summary_df = pd.DataFrame({'school_type': df_district,
                            'student_pop': total_students,
                            'school_budget': total_school_budget,
                              'per_student_budget' : per_student_budget,
                                  'student_math_avg' : stu_avg_math,
                                'student_reading_avg' : stu_avg_read,
                                'percent_pass_math' : percent_pass_math,
                                'percent_pass_read' : percent_pass_read,
                                  'overall_pass' : overall_pass

                                 })
school_summary_df

,school_type,student_pop,school_budget,per_student_budget,student_math_avg,student_reading_avg,percent_pass_math,percent_pass_read,overall_pass
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [26]:
top_perf_schools = school_summary_df[school_summary_df["overall_pass"] >95]
top_perf_schools

,school_type,student_pop,school_budget,per_student_budget,student_math_avg,student_reading_avg,percent_pass_math,percent_pass_read,overall_pass
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [27]:

bottom_perf_schools = school_summary_df[school_summary_df["overall_pass"]<73.807]
bottom_perf_schools

,school_type,student_pop,school_budget,per_student_budget,student_math_avg,student_reading_avg,percent_pass_math,percent_pass_read,overall_pass
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [28]:
grade_9_df = school_data_complete [school_data_complete["grade"] == '9th']
grade_9_avg_math = grade_9_df.groupby('school_name').mean()['math_score']
grade_9_avg_math

grade_10_df = school_data_complete [school_data_complete["grade"] == '10th']
grade_10_avg_math = grade_10_df.groupby('school_name').mean()['math_score']
grade_10_avg_math

grade_11_df = school_data_complete [school_data_complete["grade"] == '11th']
grade_11_avg_math = grade_11_df.groupby('school_name').mean()['math_score']
grade_11_avg_math

grade_12_df = school_data_complete [school_data_complete["grade"] == '12th']
grade_12_avg_math = grade_12_df.groupby('school_name').mean()['math_score']
grade_12_avg_math

math_scores_per_grade_df = pd.DataFrame({'9th_Grade_Math_Avg': grade_9_avg_math,
                            '10th_Grade_Math_Avg': grade_10_avg_math,
                            '11th_Grade_Math_Avg': grade_11_avg_math,
                              '12th_Grade_Math_Avg': grade_12_avg_math,

                                 })
math_scores_per_grade_df

,9th_Grade_Math_Avg,10th_Grade_Math_Avg,11th_Grade_Math_Avg,12th_Grade_Math_Avg
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
grade_9_df = school_data_complete [school_data_complete["grade"] == '9th']
grade_9_avg_reading = grade_9_df.groupby('school_name').mean()['reading_score']
grade_9_avg_reading

grade_10_df = school_data_complete [school_data_complete["grade"] == '10th']
grade_10_avg_reading = grade_10_df.groupby('school_name').mean()['reading_score']
grade_10_avg_reading

grade_11_df = school_data_complete [school_data_complete["grade"] == '11th']
grade_11_avg_reading = grade_11_df.groupby('school_name').mean()['reading_score']
grade_11_avg_reading

grade_12_df = school_data_complete [school_data_complete["grade"] == '12th']
grade_12_avg_reading = grade_12_df.groupby('school_name').mean()['reading_score']
grade_12_avg_reading

reading_scores_per_grade_df = pd.DataFrame({'9th_Grade_Reading_Avg': grade_9_avg_reading,
                            '10th_Grade_Reading_Avg': grade_10_avg_reading,
                            '11th_Grade_Reading_Avg': grade_11_avg_reading,
                              '12th_Grade_Reading_Avg': grade_12_avg_reading,

                                 })
reading_scores_per_grade_df

,9th_Grade_Reading_Avg,10th_Grade_Reading_Avg,11th_Grade_Reading_Avg,12th_Grade_Reading_Avg
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [30]:
school_summary_df

,school_type,student_pop,school_budget,per_student_budget,student_math_avg,student_reading_avg,percent_pass_math,percent_pass_read,overall_pass
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [32]:
school_summary_df
bins = [0, 595, 615, 635, 655]
group_names = ['<$595', '$595-615', '$615-635', '$635-655']


school_summary_df['Scores_by_School_Spending'] = pd.cut(school_summary_df['per_student_budget'], bins, labels=group_names)
scores_by_spending = school_summary_df.groupby("Scores_by_School_Spending")

scores_by_spending[["student_math_avg", "student_reading_avg", "percent_pass_math", "percent_pass_read", "overall_pass"]].mean()

,student_math_avg,student_reading_avg,percent_pass_math,percent_pass_read,overall_pass
Scores_by_School_Spending,,,,,
<$595,83.455399,83.933814,93.460096,96.610877,95.035486
$595-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-635,80.199966,82.425360,80.036217,89.536122,84.786170
$635-655,77.866721,81.368774,70.347325,82.995575,76.671450

## Scores by School Size

* Perform the same operations as above, based on school size.

In [33]:


size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]


school_summary_df['Scores_by_School_Size'] = pd.cut(school_summary_df['student_pop'], size_bins, labels=group_names)
scores_by_size = school_summary_df.groupby("Scores_by_School_Size")

scores_by_size[["student_math_avg", "student_reading_avg", "percent_pass_math", "percent_pass_read", "overall_pass"]].mean()

,student_math_avg,student_reading_avg,percent_pass_math,percent_pass_read,overall_pass
Scores_by_School_Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

In [34]:
school_summary_df

,school_type,student_pop,school_budget,per_student_budget,student_math_avg,student_reading_avg,percent_pass_math,percent_pass_read,overall_pass,Scores_by_School_Spending,Scores_by_School_Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-635,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$595,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$635-655,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$635-655,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-635,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$635-655,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$595,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$635-655,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$635-655,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$595-615,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$635-655,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$595-615,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$635-655,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$595,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$595,Medium (1000-2000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [45]:


district_scores =  school_summary_df[school_summary_df ["school_type"] == "District"]
district_scores_df = district_scores[["student_math_avg", "student_reading_avg", "percent_pass_math", "percent_pass_read", "overall_pass"]].mean()

charter_scores =  school_summary_df[school_summary_df ["school_type"] == "Charter"]
charter_scores_df = charter_scores[["student_math_avg", "student_reading_avg", "percent_pass_math", "percent_pass_read", "overall_pass"]].mean()


scores_by_school_type = pd.merge(info_pd, items_pd, on="customer_id")
merge_table

student_math_avg       76.956733
student_reading_avg    80.966636
percent_pass_math      66.548453
percent_pass_read      80.799062
overall_pass           73.673757
dtype: float64